.parentDiv {
    margin: 0;
    text-align: center;
}

.sectionDiv {
    padding: 5px;
    align: center;
    text-align: center;
}

.headerDiv {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #fff;
    background: #aaa;
}

.headerSpan {
    margin-left: 10px;
}

.contentDiv {
    padding: 10px;
    text-align: center;
    background: #eee;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.descriptionDiv {
    text-align: left;
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 9pt;
}

.labelDiv {
    text-align: left;
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 11pt;
}

.textInputDiv {
    text-align: left;
}

.numberInputDiv {
    padding-right: 5px;
    text-align: left;
}

.telInputDiv {
    padding-right: 5px;
    text-align: left;
}

.fixedTextInput {
    box-sizing: border-box;
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 13pt;
}

.textInput {
    box-sizing: border-box;
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 13pt;
    width: 100%;
}

.numberInput {
    box-sizing: border-box;
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 13pt;
    width: 100%;
}

.telInput {
    box-sizing: border-box;
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 13pt;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type="file"] {
    display: none;
}

input[type="button"] {
    display: none;
}

.customFileUpload {
    display: block;
    box-sizing: border-box;
    padding: 6px 12px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 13pt;
    background: rgb(0, 122,255);
    color: #fff;
}

.copyDiv {
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 10pt;
    background: #00a;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

#serviceDescriptionInput {
    resize: none;
    width: 100%;
}

.navbar {
    font-family: -apple-system, Helvetica, sans-serif;
    font-size: 13pt;
    overflow: hidden;
    background-color: rgb(0, 122, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #f1f1f1;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}